
#roadMap li {
  list-style: none;
}

#partners li {
  list-style: none; 
}

@font-face {
  font-family: CalibriRegular;
  src: url(../fonts/calibri.ttf);
}
@font-face {
  font-family: PierBold;
  src: url(../fonts/pier-bold.otf);
}
body {
  font-family: "CalibriRegular";
}

.pageHead, .roadMapHead, .bluePageHead {
  font-family: "PierBold";
  font-weight: 450em;
  font-size: 1.8em;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.myNavBt {
  background-color: #1882be;
}

.myNav ul {
  color: #1882be;
}

/* solution page */
.myMainImg {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 180px;
}

.myMainText, .myMainText h1, .myMainText h2, .readMoreBt {
  color: white;
  text-align: center;
  font-family: "CalibriRegular";
}

.myMainText h1, .readMoreBt h1 {
  font-family: "PierBold";
  font-weight: 450em;
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myMainText h2, .readMoreBt h2 {
  font-family: "PierBold";
  font-weight: 350em;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.readMoreBt {
  background-color: #1882be;
  font-weight: 450em;
  font-size: 1.2em;
  padding: 5px 10px;
}

/* benefits page */
#benefits {
  background: #fff;
}

.benefitTextOne .benefitTextTwo {
  font-size: 0.8em;
  color: black;
}

#benefits .row .benefitTextOne ul li .p1:nth-child(1)::before {
  content: url("../img/icon_watch.png");
  margin-left: -30px;
  margin-right: 30px;
}

#benefits .row .benefitTextOne ul li .p2:nth-child(1)::before {
  content: url("../img/icon_money_bag.png");
  margin-left: -30px;
  margin-right: 30px;
}

#benefits .row .benefitTextOne ul li .p3:nth-child(1)::before {
  content: url("../img/icon_cloud.png");
  margin-left: -30px;
  margin-right: 30px;
}

#benefits .row .benefitTextTwo ul li .p1:nth-child(1)::before {
  content: url("../img/icon_hight_cost.png");
  margin-left: -30px;
  margin-right: 30px;
}

#benefits .row .benefitTextTwo ul li .p2:nth-child(1)::before {
  content: url("../img/icon_missing.png");
  margin-left: -30px;
  margin-right: 30px;
}

#benefits .row .benefitTextTwo ul li .p3:nth-child(1)::before {
  content: url("../img/icon_struggling.png");
  margin-left: -30px;
  margin-right: 30px;
}

/* concept page */
#concept {
  background-color: lightgray;
  padding: 10px;
}

.concept h2 {
  font-family: "PierBold";
  font-weight: 350em;
  font-size: 1.2em;
  text-align: left;
  color: #1882be;
}

/* road map page */
#roadMap {
  color: gray;
  background-color: #fff;
}

.roadMapHead {
  color: white;
}

.roadMapFourImgText {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.78);
  padding: 50px;
}

.roadMapSecond {
  text-align: left;
  padding-bottom: 50px;
}

.roadMapSecondP {
  text-align: left;
  font-weight: 350;
  font-size: 1em;
}

.myRoadMapImg {
  background-image: url("../img/app.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 180px;
}

.bluePageHead {
  color: white;
}

.blueBg {
  background-color: #1882be;
  color: white;
  padding-top: 30px;
}

/* parnters page */
#partners {
  color: gray;
}

.partnersOne {
  padding-bottom: 50px;
}

/**  Footer */
footer {
  padding: 3% 0 2% 0;
  background-color: #20435f;
  font-size: 0.8em;
  color: white;
}

footer .col-left {
  text-align: left;
  padding-left: 40px;
}

footer .col-right {
  text-align: right;
  padding-right: 40px;
}

@media (max-width: 500px) {
  footer .col-left {
    width: 100%;
    text-align: center;
  }

  footer .col-right {
    text-align: center;
    width: 100%;
  }

  footer .st {
    margin-top: 20px;
    margin-right: -40px;
    text-align: center;
  }

  footer .st div {
    display: inline-block;
  }
}
@media (max-width: 353px) {
  margin-left: 0%;
}
