/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);*/

/**  Basic Page CSS **/
body{
/*  font-family: "Roboto Slab", sans-serif;*/
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
/*  font-family: "Open Sans", sans-serif;*/
  font-weight: 100;
  margin: 0;
}

/* jQuery enabled behavior for mobile */


.carousel-indicators{
display: none;
}
.downcontrol {
    display: none;
}
.mainType {
	position: absolute;
    top: 35%;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.h1 {
    font-size: 1.2em;
    color: white;
}

.h2 {
    font-size: 0.6em;
    color: white;
}
.pageHead{
    font-weight: 450;
    font-size: 1.2em;
    z-index: -1;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.upcontrol {
	text-align: center;
}

.downcontrol {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.downcontrol a, .upcontrol a{
    color: gray;
}
.downcontrol:hover a, .upcontrol:hover a{
    color: blue;

}

/**  Header Navigation **/

header .navbar {
  padding: 30px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: #4286f4 !important;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: white!important;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: white;
  background: transparent !important;
  border
    : 4px solid #4286f4;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: blue;
  background: transparent;
  text-shadow: none;
}

/**  Navbar Brand **/

header .navbar-brand {
  background-repeat: no-repeat;
  background-position: 15px 0;
  height: auto;
}

header .navbar-brand h1 {
  color: #fff !important;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 105px;
}

header .navbar-brand span.subhead {
  display: block;
/*  font-family: "Roboto Slab", serif;*/
  font-size: .6em;
  font-weight: 100;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: #4286f4;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/**  nav inbody **/

header .inbody {
  background: white;
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}

header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}

/**  Carousel Fade **/

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
/*  background-size: cover;*/
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.logo{
    margin-top: -15px;
}
.mainBt{
    color: white;
    background-color: #4286f4;
    text-align: center;
    font-weight: 450;
    font-size: 0.8em;
    padding: 5px 10px;
}
/**  Page **/
.page {
  padding: 50px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}

/**  Page -- benefits **/
#benefits {
    background: #fff;
    color: gray;
}

#benefits .myicon {
    text-align: left;   
}

#benefits li {
    list-style:none;
}
#benefits li img {
    margin-left: -50px;
}

.benefitTextHead{
    font-weight: 450;
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin-bottom: 20px;

}

.benefitText {
    font-size: 0.8em;
    color: black;
}


/**  Page -- concept **/

#concept {
    background-color: lightgray;
}

.concept h2{
    font-size: 0.8em;
    font-weight: 350;
    text-align: left;
    color: #4286f4;
}

#concept img.icon {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#concept h3 {
  margin-bottom: 10px;
}

#concept .myprogramming {
    text-align: center;   
}

#concept .mysoftware {
    text-align: center;   
}


/**  roadMap  **/

#roadMap {
  color: gray;
  background-color: #fff;
}

#roadMap li{
    list-style:none;
}

.roadMapHead{
    font-weight: 450;
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.roadMapContainer{
    position: relative;
    text-align: center;
    color: white;
}

.centeredHead {
    font-weight: 450;
    font-size: 1.2em;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.roadMapImgRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    color: gray;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 20px;
   
}

.roadMapSecond{
    text-align: left;
}

.roadMapSecondP{
    text-align: left;
    font-weight: 350;
    font-size: 1.0em;
}
.bluePageHead{
    font-weight: 450;
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}

.blueBg{
    background-color: #4286f4;
    color: white;
}

/**  partners page **/
#partners {
    color: gray;
}

#partners li{
    list-style:none;

}

.find p {
 padding-top: 15px;   
}

.quick-info {
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quick-info p {
    padding-top: 15px;
}
.quick-info a {
 color: gray;
}
.quick-info a:hover{
 color: orange;
}

/**  Footer **/

footer {
  background-color: darkblue;
  color: white;
  font-size: .8em;
  padding: 20px 0 40px 0;
  text-align: left;
}


footer .navbar {
  margin-bottom: 0;
  min-height: 0;
}

footer .navbar-default {
  background-color: transparent;
  border: none;
  margin-right: 40px;
}



footer .navbar-nav>li.facebook a:hover,
footer .navbar-nav>li.linkedin a:hover,
footer .navbar-nav>li.github a:hover,
footer .navbar-nav>li.vimeo a:hover
{
	opacity: .6;
}




/*aniamte*/
.navbar {
  -webkit-animation-delay: .2s;
}
#myhome {
  -webkit-animation-delay: 1s;
}
.wrap {
  -webkit-animation-delay: 1.3s;

}


.btn-primary { 
    background-color: gray !important; 
    border-color: gray !important; 
}  
.btn-primary:hover{ 
    background-color: black !important; 
} 

.modal-body .pull-left { 
    padding-right: 1em; 
} 
.modal-body .pull-right { 
    padding-left: 1em; 
}
.modal-body p {
	display: block;
	color: gray;
	text-align: left;
}
.modal-footer { 
    clear: both; 
} 

/*@media*/

/*header*/
@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(0,0,0, .5);
  }
}
/*homepage*/
@media only screen
and (max-width: 768px) {
.myhoi{
    font-size: 8em;
    font-weight: 500;
}
.h1 {
    font-size: 1.5em;
}
.type-wrap {
    margin-top: 15px;
    font-size: 1em;   
}

}

@media only screen 
and (min-width: 450px)
and (max-width: 768px) {
   .type-wrap {
    margin-top: 15px;
    font-size: 1.5em;   
} 

    .h1{
       font-size: 1.2em; 
    }
}

@media only screen
and (max-width: 450px) {

    .h1{
       font-size: 1em; 
    }

}

@media only screen
and (max-height: 320px) {
    .myhoi{
    font-size: 3em;
    font-weight: 350;
    }

}

@media only screen 
and (min-width: 320px)
and (max-width: 450px) {
  
.roadMapImgRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    
   
  }
}

@media only screen 
and (min-width: 450px)
and (max-width: 600px) {

.roadMapImgRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    
   
  }
}

@media only screen 
and (min-width: 600px)
and (max-width: 768px) {
  
.roadMapImgRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    
   
  }
}

/*footer*/
@media (max-width:768px) {
	footer .navbar-nav>li.facebook a,footer .navbar-nav>li.linkedin a,footer .navbar-nav>li.github a ,footer .navbar-nav>li.vimeo a{
		width: 100%;
	}
	footer .navbar-default{
		margin: 0;
	}

    .roadMapImgRight {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -180%);
    
   
  }
}
